<component name="ArtifactManager">
  <artifact type="war" name="MyBatis_06_ssm:war">
    <output-path>$PROJECT_DIR$/MyBatis_06_ssm/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>MyBatis_06_ssm</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="MyBatis_06_ssm.war">
      <element id="artifact" artifact-name="MyBatis_06_ssm:war exploded" />
    </root>
  </artifact>
</component>